{% extends "base.html" %}
{% block title %}
  <title>Edit-Task - Task Mate</title>
{% endblock title %}


{% block content %}
<div class="container">
    <br>
    {% if task_obj.manage == request.user %}
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-lg-2">
                <label></label>
            </div>

            <!-- Input Field Column -->
            <div class="col-lg-6">
                <input type="text" class="form-control" name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
                <input type="hidden"  name="done" value="{{task_obj.done}}">
            </div>

            <!-- Button Column -->
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary">Update Task</button>
            </div>

        </form>
    {% else %}
    <p>Access Restricted ,you are not allowed</p>
    {% endif %}
</div>
{% endblock content %}


